canvas{
    border: 1px solid #000;
     z-index: 5;
     position: absolute;
    background-color: rgb(255, 255, 255);
    float: left;
    top: 300px;

}

.text-style {
    float: left;
    left: 20px;
    top : 320px;
    position: absolute;
    font: 28px orbitron;
    word-break: break-all;
    background-color: rgb(172, 240, 47);
    resize: none;
    z-index: 4;
}	
html{
  background-color:#f7f300;
   cursor:crosshair; 
   position: absolute;
   z-index: 2;
  }
#buttons {
  top: 1px;
  left: 10px;
}
.other{
    top: 50px;
    left: 50px;
    position:absolute;
    z-index: 7;


}
.reset {
  margin-top: 5px;
  margin-left: 5px;
  float: left;
}

